<div class="row">
	<div class="large-6 columns text-right">
		<h2>Equipo 1</h2>
		<p id="team1">
			-
		</p>
	</div>
	<div class="large-6 columns">
		<h2>Equipo 2</h2>
		<p  id="team2">
			-
		</p>
	</div>
</div>