<h1>Información de privacidad</h1>

<p>Si desea contactar con nosotros, puede hacerlo mediante la siguiente dirección de correo electrónico: <%= link_to "info@dotapy.com", "mailto:info@dotapy.com" %></p>

<hr>

<p><strong>Este sitio utiliza credenciales de Steam</strong></p>

<p>DotaPy crea usuarios en el sistema utilizando credenciales de Steam. No almacenamos las contraseñas de acceso, asi como tampoco almacenamos el inventario de Steam, la lista de amigos y la lista de juegos del usuario. No mostraremos datos adicionales a los que el usuario ya decidió mostrar en su perfil de Steam.</p>

<hr>

<p><strong>Este sitio utiliza Google Analytics</strong></p>

<p>Google Analytics, es un servicio de analítica web prestado por Google, Inc., una compañía de Delaware cuya oficina principal está en 1600 Amphitheatre Parkway, Mountain View (California), CA 94043, Estados Unidos (“Google”). Google Analytics utiliza “cookies”, que son archivos de texto ubicados en su ordenador, para ayudar al website a analizar el uso que hacen los usuarios del sitio web. La información que genera la cookie acerca de su uso del website (incluyendo su dirección IP) será directamente transmitida y archivada por Google en los servidores de Estados Unidos. Google usará esta información por cuenta nuestra con el propósito de seguir la pista de su uso del website, recopilando informes de la actividad del website y prestando otros servicios relacionados con la actividad del website y el uso de Internet. Google podrá transmitir dicha información a terceros cuando así se lo requiera la legislación, o cuando dichos terceros procesen la información por cuenta de Google. Google no asociará su dirección IP con ningún otro dato del que disponga Google. Puede Usted rechazar el tratamiento de los datos o la información rechazando el uso de cookies mediante la selección de la configuración apropiada de su navegador, sin embargo, debe Usted saber que si lo hace puede ser que no pueda usar la plena funcionabilidad de este website. Al utilizar este website Usted consiente el tratamiento de información acerca de Usted por Google en la forma y para los fines arriba indicados.</p>

<hr>

<p><strong>Este sitio web alberga publicidad de Google Adsense</strong></p>

<p>Google, como proveedor asociado, utiliza cookies para publicar anuncios en este sitio web. Los usuarios pueden inhabilitar el uso de la cookie de DART a través del anuncio de Google y accediendo a la política de privacidad de la red de contenido. Google utiliza empresas publicitarias asociadas para publicar anuncios cuando visita nuestro sitio web. Es posible que estas empresas usen la información que obtienen de sus visitas a este y otros sitios web (sin incluir su nombre, dirección, dirección de correo electrónico o número de teléfono) para ofrecerle anuncios sobre productos y servicios que le resulten de interés. Si desea obtener más información sobre esta práctica y conocer sus opciones para impedir que estas empresas usen esta información, <%= link_to "haga click aquí", "http://www.google.com/policies/privacy/" %>.</p>
