<%= content_for :title, 'DotaPy Season 2' %>

<div class="row text-center">
<div class="large-12 columns">
<iframe width="100%" height="480" src="//www.toornament.com/widget/tournaments/557b80d0140ba0676b8b45b2/navigator?_locale=es_ES&theme=discipline" frameborder="0" allowfullscreen></iframe>
</div>
</div>
