<h1>Staff de DotaPy</h1>

<div class="row">
	<div class="large-8 columns">
		<p><strong>Administración y noticias</strong></p>

		<ul>
			<li>Gustavo Vera Scuderi (GavoKaotik)</li>
			<li>Cynthia Franco (Artemisa)</li>
			<li>Antonio Guerrero Orellana (Shaitan)</li>
		</ul>

		<p><strong>Área técnica</strong></p>

		<ul>
			<li>Gustavo Vera Scuderi (GavoKaotik)</li>
		</ul>

		<p><strong>Redes sociales</strong></p>

		<ul>
			<li>Antonio Guerrero Orellana (Shaitan)</li>
			<li>Carlos Miranda (Yron)</li>
			<li>Luis Cateura (Gurren)</li>
		</ul>
	</div>
	<div class="large-4 columns">
		<div class="panel callout" style="background-color:#af2200;border:none;">
			<p style="color:white">Todo el staff de DotaPy quiere agradecer a todos aquellos que hicieron (y siguen haciendo) posible el llevar a cabo este proyecto :)</p>
		</div>
		<div class="panel callout" style="background-color:#af2200;border:none;">
			<p style="color:white">Este sitio web está en constante desarrollo, por lo tanto nuevas funciones serán agregadas con el tiempo y no todas las funciones actuales se encuentran operativas.</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="large-12 columns text-center">
		<hr>
		Ante cualquier consulta, reclamo o sugerencia, no dude en contactarnos en la dirección de correo <%= link_to "info@dotapy.com", "mailto:info@dotapy.com." %>.
	</div>
</div>
