/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require foundation_application

 */

body {
	background-image: url("/pattern.png");
}

hr {
	border-color: #af2200 !important;
}

h4 > a, h4 > a:hover {
	color: white !important;
}

h4 > a:hover {
	text-decoration: underline;
}

#article-body h5 {
	color: #999 !important;
}

#article-body .th {
	margin-top: 10px;
	margin-bottom: 30px;
}

#article-info {
	font-size: 12px;
	font-style: italic;
	text-align: right;
}

.player-ranking > div > a {
	color: white !important;
}

.player-ranking > div > a:hover {
	text-decoration: underline !important;
}