<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-6 columns">
        <p>
          Copyright © DotaPy, 2015.<br>
          <small>Versión 2.0a | <a href="http://steampowered.com" target="_blank">Powered by Steam</a> | <%= link_to "Información de privacidad", privacy_path %></small>
        </p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><%= link_to "Noticias", articles_path %></li>
          <li><%= link_to "Ranking", rankings_global_path %></li>
          <li><%= link_to "Staff", staff_path %></li>
        </ul>
      </div>
    </div>
  </div> 
</footer>